

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("https://s3-us-west-1.amazonaws.com/sfpourhouse1/pic2.JPG?X-Amz-Date=20140811T235744Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bb2d9d33567f453c92bb534aec49bdb791ad3808ad7ce356f196a04bf3e28a14&X-Amz-Credential=ASIAJNT26W6Z33TMMTLA/20140811/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDgakAKwZn5WjK2hxNs32S4sU%2BSxgIj1og97ccQixFZ9ENUVHJSYvc9Es2ulYLGsef6AI6HD0UG7daJMOWIvc9QFmkJibicp0DPAsyj7P4bJwloj9CgAR4ZJtm%2Bw19EM6nDqOV%2B%2Bt874DFKXWyeB40vpcNrc0Mus3FJI7VMeWuc1pDE4UKPlDMhW7eEqi4jgTy1x25IVQLDQ2Cd3/SVwoo0CBDhnXBp4ns2dHq00HEMfFkBV%2BxWLtiIN/bKXkrcQz6hhzjT77X8HwVUMvS6zYLoNtKESol%2BPwdyjBGyVLXMu1BeJYt0/zJwscHv77xwjHRQX5ovwfWIUp/Jz%2BGFITm1y6AnH3GebOwLseFUKYKgM5ysgByDrlaWfBQ%3D%3D", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("https://s3-us-west-1.amazonaws.com/sfpourhouse1/pic2.JPG?X-Amz-Date=20140811T235744Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bb2d9d33567f453c92bb534aec49bdb791ad3808ad7ce356f196a04bf3e28a14&X-Amz-Credential=ASIAJNT26W6Z33TMMTLA/20140811/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDgakAKwZn5WjK2hxNs32S4sU%2BSxgIj1og97ccQixFZ9ENUVHJSYvc9Es2ulYLGsef6AI6HD0UG7daJMOWIvc9QFmkJibicp0DPAsyj7P4bJwloj9CgAR4ZJtm%2Bw19EM6nDqOV%2B%2Bt874DFKXWyeB40vpcNrc0Mus3FJI7VMeWuc1pDE4UKPlDMhW7eEqi4jgTy1x25IVQLDQ2Cd3/SVwoo0CBDhnXBp4ns2dHq00HEMfFkBV%2BxWLtiIN/bKXkrcQz6hhzjT77X8HwVUMvS6zYLoNtKESol%2BPwdyjBGyVLXMu1BeJYt0/zJwscHv77xwjHRQX5ovwfWIUp/Jz%2BGFITm1y6AnH3GebOwLseFUKYKgM5ysgByDrlaWfBQ%3D%3D", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("https://s3-us-west-1.amazonaws.com/sfpourhouse1/pic2.JPG?X-Amz-Date=20140811T235744Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bb2d9d33567f453c92bb534aec49bdb791ad3808ad7ce356f196a04bf3e28a14&X-Amz-Credential=ASIAJNT26W6Z33TMMTLA/20140811/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDgakAKwZn5WjK2hxNs32S4sU%2BSxgIj1og97ccQixFZ9ENUVHJSYvc9Es2ulYLGsef6AI6HD0UG7daJMOWIvc9QFmkJibicp0DPAsyj7P4bJwloj9CgAR4ZJtm%2Bw19EM6nDqOV%2B%2Bt874DFKXWyeB40vpcNrc0Mus3FJI7VMeWuc1pDE4UKPlDMhW7eEqi4jgTy1x25IVQLDQ2Cd3/SVwoo0CBDhnXBp4ns2dHq00HEMfFkBV%2BxWLtiIN/bKXkrcQz6hhzjT77X8HwVUMvS6zYLoNtKESol%2BPwdyjBGyVLXMu1BeJYt0/zJwscHv77xwjHRQX5ovwfWIUp/Jz%2BGFITm1y6AnH3GebOwLseFUKYKgM5ysgByDrlaWfBQ%3D%3D", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
        
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!-- Carousel Finished -->

<div class="random-container">

<div class="container">



  <div class="middle-container">
    <h1>Pourhouse is a wine bar in the heart of San Francisco's renown Polk Street</h1>
      <p>A culture that promises some bodacious brews, delicious wine, fabulous foods and a supreme wine-bar experience.</p>
  </div>




<div class="row index-row">

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img  pull-left  col-sm-5  col-md-4 ">
                    <div class="img-overlay "> 
                        <%= link_to asset_path("Menu.pdf"), :class => "btn btn-primary" do %> Open <% end %> 
                    </div>

                    <%= image_tag('pic5.JPG', class: 'pull-left media-img', alt: 'About') %>
                </div>

                <div class="media-body   col-sm-7 col-md-8  ">
                    <%= link_to asset_path("Menu.pdf") do%> <h4 class="media-heading"> Menu </h4> <% end %>
                    <p class="hidden-sm">Bodacious brews, delicious wine & fabulous food</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img pull-left   col-sm-5 col-md-4 ">
                    <div class="img-overlay  "> 
                        <a class="btn  btn-primary  animated fadeInUp needsclick" href="/contacts" rel="bookmark">Open</a> 
                    </div>

                    <%= image_tag('pic14.JPG', class: 'media-img', alt: 'Portfolio') %>
                </div>
                <div class="media-body   col-sm-7  col-md-8 ">
                    <h4 class="media-heading"> <%= link_to 'Host an Event', contacts_path, class: 'media-heading' %></h4>
                    <p class="hidden-sm">Private Event Space in the heart of the city</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img  pull-left   col-sm-5 col-md-4 ">
                    <div class="img-overlay "> 
                        <a class="btn  btn-primary  animated fadeInUp needsclick" href="/gallery" rel="bookmark">Open</a> 
                    </div>

                    <%= image_tag('pic17.JPG', class: 'media-img', alt: 'Contacts', type: 'button') %>                                        
                </div>

                <div class="media-body  col-sm-7 col-md-8 ">
                    <h4 class="media-heading"><%= link_to 'Gallery', gallery_path, class: 'media-heading' %></h4>
                    <p class="hidden-sm">A superb wine-bar experience in San Francisco</p>
                </div>
            </div>
        </div>
    </div>

</div> 




</div>


</div>