<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="container contest-index-container">

      <div id="boxes-tiles" class="transitions-enabled">



      <div class="box col3">
        
        <%= image_tag('pic4.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic5.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>


      <div class="box col3">
        
        <%= image_tag('pic9.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic10.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic11.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic14.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic15.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic16.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic17.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic19.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic20.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

      <div class="box col3">
        
        <%= image_tag('pic21.JPG', class: 'media-img', alt: 'Contacts') %>  
      </div>

  </div>
</div>